@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- NAV BAR -------------------- */
/* to get rid of underline when intialized */
.navbar-item { 
    text-decoration: none;
}

/* when hovering over an item */
.navbar-item:hover {
    text-decoration: underline
}

/* Underline when the item is active (i.e., selected) */
.navbar-item.active {
    text-decoration: underline;
}


/* ----------- LOGIN/SIGNUP FORMS -------------------- */
.custom-form {
    padding: max(100px);
    width: max(500px);
}